.products {
  max-width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  background: red;
  border: 1px solid white;
  padding: 5px;
}
.image {
  border-radius: 2px;
  width: 140px;
  height: 170px;
}
.label {
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
